In [99]:
import numpy as np
import pandas as pd
from datetime import datetime
from dateutil.parser import parse

In [100]:
csv_a = input("Enter the full path of the first Budget Data file for your CSV: ")
csv_path_a = str(csv_a)
csv_path_a

Enter the full path of the first Budget Data file for your CSV: budget_data_a.csv

'budget_data_a.csv'

In [101]:
csv_b = input("Enter the full path of the first Budget Data file for your CSV: ")
csv_path_b = str(csv_b)
csv_path_b

Enter the full path of the first Budget Data file for your CSV:

''

In [102]:
bf_a = pd.read_csv(csv_path_a,  parse_dates=True,encoding="utf-8")
print(bf_a.dtypes)

bf_a["Date"] = bf_a["Date"].str.replace("20","")
bf_a.head()

FileNotFoundError: File b'budget_data_a.csv' does not exist

In [103]:
#bf_b = pd.read_csv(csv_path_b, parse_dates=True, encoding="utf-8")
#print(bf_b.dtypes)
#bf_b["Date"] = bf_b["Date"].str.replace("20","")
#bf_b.head()

In [104]:
merge_bd = bf_a #pd.merge(bf_a, bf_b, on="Date")
merge_bd.set_index("Date")
merge_bd.head(86)

      Date  Revenue
0   Oct-12  1154293
1   Nov-12   885773
2   Dec-12  -448704
3   Jan-13   563679
4   Feb-13   555394
5   Mar-13   631974
6   Apr-13   957395
7   May-13  1104047
8   Jun-13   693464
9   Jul-13   454932
10  Aug-13   727272
11  Sep-13   125016
12  Oct-13   339251
13  Nov-13    78523
14  Dec-13   977084
15  Jan-14  1158718
16  Feb-14   332681
17  Mar-14  -341227
18  Apr-14   173826
19  May-14   742611
20  Jun-14  1189806
21  Jul-14   607363
22  Aug-14 -1172384
23  Sep-14   587993
24  Oct-14   295198
25  Nov-14  -300390
26  Dec-14   468995
27  Jan-15   698452
28  Feb-15   967828
29  Mar-15  -454873
30  Apr-15   375723
31  May-15  1140526
32  Jun-15    83836
33  Jul-15   413189
34  Aug-15   551363
35  Sep-15  1195111
36  Oct-15   657081
37  Nov-15    66659
38  Dec-15   803301
39  Jan-16  -953301
40  Feb-16   883934

In [105]:
bd_rename = merge_bd.rename(columns={"Revenue":"Revenue",})
#bd_rename = merge_bd.rename(columns={"Revenue_x":"Revenue A",
#                                    "Revenue_y":"Revenue B",})

bd_rename["Date"] = bd_rename["Date"].str.replace(" ","")
#rev_delta=bd_rename["Revenue A"]- bd_rename["Revenue B"]
#bd_rename["Revenue Delta"]= rev_delta
bd_rename.sort_values("Date",ascending=False)
bd_rename.head()

     Date  Revenue
0  Oct-12  1154293
1  Nov-12   885773
2  Dec-12  -448704
3  Jan-13   563679
4  Feb-13   555394

In [106]:
bd_rename["Date"].nunique()

41

In [107]:
bd_rename.describe()

            Revenue
count  4.100000e+01
mean   4.627174e+05
std    5.660821e+05
min   -1.172384e+06
25%    1.738260e+05
50%    5.636790e+05
75%    8.839340e+05
max    1.195111e+06

In [110]:
months = bd_rename["Date"].nunique()
print("Total Months: "+'{:,}'.format(months))
bd_a_avg = bd_rename["Revenue"].max()
print("Total Revenu: "+'{:,}'.format(bd_a_avg))

Total Months: 41
Total Revenu: 1,195,111